.all {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.logo {
  font-size: 2rem;
}
.left-navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  position: relative;
}
.icon-basket {
  font-size: 1.6rem;
  cursor: pointer;
}
.menu {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  font-size: 1.2rem;
  position: relative;
  margin: 0;
}
.sub-menu {
  /* position: absolute;
  background-color: #fff;

  top: 50px;
  right: 60px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  overflow: auto;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s ease; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  /* opacity: 0;
  visibility: hidden; */
  transition: 0.3s ease;
  z-index: 10;
  min-width: 150px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  height: 150px;
  width: 150px;
}
.sub-menu-item-2 {
  position: absolute ;
  top: 0;
  right: 127%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  min-width: 150px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  list-style-type: none;
}
.sub-menu-item:hover .sub-menu-item-2 {
  opacity: 1;
  visibility: visible;
  
}
.menu-items, .sub-menu-item, .sub-menu-item-2-item {
  position: relative;
  list-style-type: none;
}
/* اسکرول بار افقی و عمودی */
.sub-menu::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (مسیر اسکرول‌بار) */
.sub-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle (دسته اسکرول‌بار) */
.sub-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle hover */
.sub-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.category-menu:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  
}
.item-links-1{
  text-decoration: none;
  color: black; 
  width: 100%;
}
.sub-menu-item:hover{
  background-color: rgba(255, 255, 255, 0.1);;
}
.menus {
  position: relative;
  display: flex;
}
.item-links {
  text-decoration: none;
  color: black;
}
.icon-search {
  width: 35px;
  height: 35px;
  padding-left: 10px;
  cursor: pointer;
}
.input-search {
  display: flex;
  align-items: center;
  border: 2px solid #0d1b2a;
  border-radius: 5px;
}
.search {
  width: 400px;
  height: 35px;
  border: none;
  padding-right: 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  outline: none;
}

.search::placeholder {
  padding: 10px;
  font-size: 1rem;
}
.close-icon {
  display: none;
}
.login {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.2s;
}
.login-link {
  color: #000;
  text-decoration: none;
}

.login:hover {
  background-color: #007f92;
}
.login:hover .login-link {
  color: #fff;
}
.item-links {
  position: relative;
  padding-bottom: 5px;
}
.item-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #00b4d8;
  transition: width 0.3s ease;
}

.item-links:hover::after {
  width: 100%;
}
.icon-menu {
  display: none;
}

.notification-user {
  border-radius: 10px;
  margin-top: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  width: 100%;
  margin-top: 45px;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 999;
}
.container-basket-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.enter-panel {
  margin-top: 10px;
  color: #000;
}
.logout-panel {
  color: red;
}
.logout-panel,
.enter-panel {
  text-decoration: none;
}
.form-logout {
  display: flex;
  align-items: center;
  gap: 5px;
}
.icon-logout {
  color: red;
}

@media (max-width: 980px) {
  .input-search {
    display: none;
  }
}
@media (max-width: 431px) {
  .icon-menu {
    display: block;
    width: 25px;
    height: 25px;
  }
  .close-icon {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .logo {
    display: none;
  }
  .menus.open {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    background: linear-gradient(
      182deg,
      rgba(39, 123, 168, 1) 0%,
      rgba(37, 51, 69, 1) 50%,
      rgba(30, 33, 74, 1) 100%
    );
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    transform: translateX(0);
    transition: transform 0.4s cubic-bezier(0.24, 0.71, 0.31, 0.95),
      opacity 0.4s cubic-bezier(0.25, 0.28, 0.2, 1.17);
  }
  .all {
    justify-content: space-between;
    opacity: 1;
    padding: 0 20px;
  }
  .menus {
    transform: translateX(100%);
  }
  .open-menu {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1rem;
  }
  .item-links {
    color: #fff;
  }
}



